# Data Wrangling - Data Surgery

<b>Data wrangling</b>, sometimes referred to as data munging, is the process of transforming and mapping data from one "raw" data form into another format with the intent of making it more appropriate and valuable for a variety of downstream purposes such as analytics. The goal of data wrangling is to assure quality and useful data. Data analysts typically spend the majority of their time in the process of data wrangling compared to the actual analysis of the data.

The process of data wrangling may include further munging, data visualization, data aggregation, training a statistical model, as well as many other potential uses. Data wrangling typically follows a set of general steps which begin with extracting the data in a raw form from the data source, "munging" the raw data (e.g. sorting) or parsing the data into predefined data structures, and finally depositing the resulting content into a data sink for storage and future use

In [23]:
import pandas as pd

In [24]:
data = pd.read_csv("../../datasets/customer-churn-model/Customer Churn Model.txt")

In [25]:
data.head(5)

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

### Create a data subset

In [26]:
account_length = data["Account Length"]

In [27]:
account_length.head(5)

0    128
1    107
2    137
3     84
4     75
Name: Account Length, dtype: int64

In [28]:
type(account_length)

pandas.core.series.Series

In [29]:
subset = data[["Account Length", "Phone", "Eve Charge", "Day Calls"]]

In [30]:
subset.head(5)

   Account Length     Phone  Eve Charge  Day Calls
0             128  382-4657       16.78        110
1             107  371-7191       16.62        123
2             137  358-1921       10.30        114
3              84  375-9999        5.26         71
4              75  330-6626       12.61        113

In [31]:
type(subset)

pandas.core.frame.DataFrame

In [32]:
desired_columns = ["Account Length", "Phone", "Eve Charge", "Night Calls"]
subset = data[desired_columns]
subset.head(5)

   Account Length     Phone  Eve Charge  Night Calls
0             128  382-4657       16.78           91
1             107  371-7191       16.62          103
2             137  358-1921       10.30          104
3              84  375-9999        5.26           89
4              75  330-6626       12.61          121

In [33]:
desired_columns = ["Account Length", "VMail Message", "Day Calls"]
desired_columns

['Account Length', 'VMail Message', 'Day Calls']

In [34]:
all_columns_list = data.columns.values.tolist()
all_columns_list

['State',
 'Account Length',
 'Area Code',
 'Phone',
 "Int'l Plan",
 'VMail Plan',
 'VMail Message',
 'Day Mins',
 'Day Calls',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

In [35]:
sublist = [x for x in all_columns_list if x not in desired_columns] #Extract subset
sublist

['State',
 'Area Code',
 'Phone',
 "Int'l Plan",
 'VMail Plan',
 'Day Mins',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

In [36]:
subset = data[sublist]
subset.head(5)

,State,Area Code,Phone,Int'l Plan,VMail Plan,Day Mins,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,415,382-4657,no,yes,265.1,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,415,371-7191,no,yes,161.6,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,415,358-1921,no,no,243.4,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,408,375-9999,yes,no,299.4,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,415,330-6626,yes,no,166.7,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [37]:
#Other Method (by sets substraction)
a = set(desired_columns)
b = set(all_columns_list)
sublist2 = b-a
sublist2 = list(sublist2)
subset2 = data[sublist2]
subset2.head(5)

,Night Mins,Day Mins,Eve Calls,Eve Mins,Churn?,VMail Plan,Intl Mins,Night Calls,CustServ Calls,Eve Charge,Intl Charge,State,Phone,Int'l Plan,Night Charge,Area Code,Day Charge,Intl Calls
0,244.7,265.1,99,197.4,False.,yes,10.0,91,1,16.78,2.70,KS,382-4657,no,11.01,415,45.07,3
1,254.4,161.6,103,195.5,False.,yes,13.7,103,1,16.62,3.70,OH,371-7191,no,11.45,415,27.47,3
2,162.6,243.4,110,121.2,False.,no,12.2,104,0,10.30,3.29,NJ,358-1921,no,7.32,415,41.38,5
3,196.9,299.4,88,61.9,False.,no,6.6,89,2,5.26,1.78,OH,375-9999,yes,8.86,408,50.90,7
4,186.9,166.7,122,148.3,False.,no,10.1,121,3,12.61,2.73,OK,330-6626,yes,8.41,415,28.34,3

In [39]:
data[10:15]

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
10,IN,65,415,329-6603,no,no,0,129.1,137,21.95,...,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True.
11,RI,74,415,344-9403,no,no,0,187.7,127,31.91,...,148,13.89,196.0,94,8.82,9.1,5,2.46,0,False.
12,IA,168,408,363-1107,no,no,0,128.8,96,21.90,...,71,8.92,141.1,128,6.35,11.2,2,3.02,1,False.
13,MT,95,510,394-8006,no,no,0,156.6,88,26.62,...,75,21.05,192.3,115,8.65,12.3,5,3.32,3,False.
14,IA,62,415,366-9238,no,no,0,120.7,70,20.52,...,76,26.11,203.0,99,9.14,13.1,6,3.54,4,False.

In [49]:
#Get Users with Day Mins > 300
data1 = data[data["Day Mins"] > 300]
data1.shape

(43, 21)

In [48]:
#Get users from NY
data2 = data[data["State"] == "NY"]
data2.shape

(83, 21)

In [50]:
#With operator AND -> &
data3 = data[(data["Day Mins"] > 300) & (data["State"] == "NY")]
data3.shape

(2, 21)

In [51]:
#With Operator OR -> |
data4 = data[(data["Day Mins"] > 300) | (data["State"] == "NY")]
data4.shape

(124, 21)

In [52]:
data5 = data[data["Day Calls"] < data["Night Calls"]]
data5.shape

(1626, 21)

In [53]:
data6 = data[data["Day Mins"] < data["Night Mins"]]
data6.shape

(2051, 21)

In [56]:
# Get Day Mins, Night Mins and Account Length for the first 50 users
subset_first_50 = data[["Day Mins", "Night Mins", "Account Length"]][:50]
subset_first_50.shape

(50, 3)

In [58]:
# iloc help us to get rows and columns by positional indexes from a dataset
data.iloc[1:10, 3:6] # Rows first, then columns

      Phone Int'l Plan VMail Plan
1  371-7191         no        yes
2  358-1921         no         no
3  375-9999        yes         no
4  330-6626        yes         no
5  391-8027        yes         no
6  355-9993         no        yes
7  329-9001        yes         no
8  335-4719         no         no
9  330-8173        yes        yes

In [59]:
# Filtering with iloc
data.iloc[[1,2,3,5,8], [1,4,6]]

   Account Length Int'l Plan  VMail Message
1             107         no             26
2             137         no              0
3              84        yes              0
5             118        yes              0
8             117         no              0

In [62]:
data.iloc[:, 1:4] # Get every row with columns between 1 and 4

      Account Length  Area Code     Phone
0                128        415  382-4657
1                107        415  371-7191
2                137        415  358-1921
3                 84        408  375-9999
4                 75        415  330-6626
...              ...        ...       ...
3328             192        415  414-4276
3329              68        415  370-3271
3330              28        510  328-8230
3331             184        510  364-6381
3332              74        415  400-4344

[3333 rows x 3 columns]

In [63]:
data.iloc[1:5, :] # Get all columns with rows between 1 and 5

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [64]:
# loc help us get columns or wors by label based indexing
data.loc[1:10, ["Area Code", "Day Mins", "VMail Plan"]]

    Area Code  Day Mins VMail Plan
1         415     161.6        yes
2         415     243.4         no
3         408     299.4         no
4         415     166.7         no
5         510     223.4         no
6         510     218.2        yes
7         415     157.0         no
8         408     184.5         no
9         415     258.6        yes
10        415     129.1         no

In [65]:
data["Total Mins"] = data["Day Mins"] + data["Night Mins"] + data["Eve Mins"]
data["Total Mins"].head(5)

0    707.2
1    611.5
2    527.2
3    558.2
4    501.9
Name: Total Mins, dtype: float64

In [66]:
data["Total Calls"] = data["Day Calls"] + data["Night Calls"] + data["Eve Calls"]
data["Total Calls"].head(5)

0    300
1    329
2    328
3    248
4    356
Name: Total Calls, dtype: int64

In [67]:
data.shape

(3333, 23)

In [68]:
data.head(5)

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?,Total Mins,Total Calls
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,244.7,91,11.01,10.0,3,2.70,1,False.,707.2,300
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,254.4,103,11.45,13.7,3,3.70,1,False.,611.5,329
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,162.6,104,7.32,12.2,5,3.29,0,False.,527.2,328
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,196.9,89,8.86,6.6,7,1.78,2,False.,558.2,248
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,186.9,121,8.41,10.1,3,2.73,3,False.,501.9,356